body{ background-color:#E9D5DA;}
hr{ 
     
    background-color:white;
    border-style:none;
    height:2px;
    border-color:white;

    
    border-width:5px;
}
h1
{
    color:#85586F;
}
p
{
    
}